<section class="text-center d-flex justify-content-center align-items-center w-100">

  <form class="form-container p-5 bg-white rounded shadow-lg">
  
      <h3 class="fontes p-3">Login</h3>

      <form [formGroup]="camps" (submit)="doLogin()">
          <div  class="form-group">
              <input
              formControlName="email" 
              type="email"
              class="form-control mb-2"
              placeholder="E-mail*"
              />
          </div>

          <div class="form-group">
            <input
              formControlName="senha"
              type="password"
              class="form-control"
              placeholder="Password*"
               />
          </div>
        
          <div class="mt-2">  
            <button class="btn btn-primary w-100 "  
                    [disabled]="!camps.valid">
                    Enter
            </button>
          </div>
        </form>
 


        <div class="text-center mt-3">
        
          <a routerLink="/Cadastro" class="text-primary">Register account</a>
        
        </div>
        
  </form>
  
</section>
