<section class="text-center d-flex justify-content-center align-items-center w-100">

  <form class="form-container p-5 bg-white rounded shadow-lg">
  
      <h3 class="fontes p-3">Login</h3>
        <div>
          <input [(ngModel)]="requestLogin.email"         
                 class="form-control mb-3"
                 type="email"
                 alt="Email" 
                 placeholder="Email*"
                 name="email"
          >

          <input [(ngModel)]="requestLogin.senha"  
                 class="form-control mb-3" 
                 type="password" 
                 alt="Password"
                 placeholder="Password*" 
                 name="senha"
          >
          
          <button class="btn btn-primary w-100 " 
                  type="button"
                  (click)="doLogin()">
                  Entrar
          </button>

        </div>

        <div class="text-center mt-3">
        
          <a class="text-primary">Register account</a>
        
        </div>
        
  </form>
  
</section>
