<app-header></app-header>


<section class="container  mt-3">
  <div class="card border border-primary shadow-lg p-3 mb-5 bg-body rounded">
  <a  
     class="btn btn-primary"
     (click)="update()">click to update</a>
  
  <div *ngFor="let i of input;
               let v = index"
               class="text-primary">

      <label [for]="i.id" >

        <h6 style="color:#287bf7"> {{ i.titulo }}</h6>

      <input *ngIf="i.tipo === 'TEXTO'"     
              [formControl]="form.controls[v]"
              type="text" 
              class="form-control text-light mb-2"
              value=""
              placeholder="Digite um texto"
              required
              [class.is-invalid]="form.controls[v].invalid && form.controls[v].touched"
              style="background-color:#74aafc">

      <input *ngIf="i.tipo === 'NUMERICO'"
              [formControl]="form.controls[v]"
              type="text" 
              class="form-control text-light mb-2"
              placeholder="Digite um numero"
              value=""
              required
              [class.is-invalid]="form.controls[v].invalid && form.controls[v].touched"
              style="background-color:#74aafc">

        <select *ngIf="i.tipo === 'SELECAO'"
                 [id]="i.id" 
                 [formControl]="form.controls[v]" 
                 class="form-control text-light mb-2 "
                 required
                 [class.is-invalid]="form.controls[v].invalid && form.controls[v].touched"
                 style="background-color:#74aafc">
        
         <option *ngFor="let it of i.opcoes" 
                      [ngValue]="it"
                      class="text-light mb-2"
                      >
                {{ it }}
              </option>
        </select>     

        
      </label>
    </div>

    <button  
     class="btn btn-primary mt-3"
     (click)="salve()">click to salve</button>

  </div>
</section>