<app-header></app-header>


        <section class="container">
        <div class="card border border-primary shadow-lg p-3 mb-5 bg-body rounded">
        <a  
           class="btn btn-primary"
           (click)="update()">click to update</a>
        
        <div>
        <table class="table">
            <thead>
              <tr>
                <th *ngFor="let colunas of coluns"  scope="col">{{colunas}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let it of itens">
                <td *ngFor="let colunas of coluns" class="text-light" style="background-color:#0d6efd" scope="row">{{it[colunas]}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  

