<section class="text-center d-flex justify-content-center align-items-center w-100">

  <form class="form-container p-5 bg-white rounded shadow-lg">
  
      <h3 class="fontes p-3">Sing Up</h3>
        <div >
          <input class="form-control mb-3"
                 type="email"
                 alt="Email"  
                 placeholder="Email*"
          >

          <input class="form-control mb-3" 
                 type="text"
                 alt="Fullname"  
                 placeholder="Full name*" 
          >

          <input class="form-control mb-3" 
                 type="text"
                 alt="Address"  
                 placeholder="Your addres" 
          >

          <input class="form-control mb-3" 
                 type="text"
                 alt="Phone"  
                 placeholder="Your phone" 
          >

          <input class="form-control mb-3" 
                 type="password" 
                 alt="Password" 
                 placeholder="Password*" 
          >
          <input class="form-control mb-3" 
                 type="password" 
                 alt="Password" 
                 placeholder="Your password*" 
          >

          <button class="btn btn-primary w-100 " type="button" >Entrar</button>
        
        </div>

        <div class="text-center mt-3">

          <a class="text-primary">I already have an account</a>

        </div>
  </form>
  
</section>
