<section class="text-center d-flex justify-content-center align-items-center w-100">

  <form class="form-container p-5 bg-white rounded shadow-lg">
  
      <h3 class="fontes p-3">Sing Up</h3>

      <form [formGroup]="camps" (submit)="doCadastro()">
       
      <div  class="form-group">
              <input
              formControlName="email" 
              type="email"
              class="form-control"
              placeholder="E-mail*"
              />
          </div>

          <div class="form-group">
            <input
              formControlName="nome"
              type="text"
              class="form-control my-2"
              placeholder="Fullname*"
               />
          </div>

          <div class="form-group">
            <input
              formControlName="endereco"
              type="text"
              class="form-control"
              placeholder="Your address"
               />
          </div>

          <div class="form-group">
            <input
              formControlName="telefone" 
              type="text"
              class="form-control my-2"
              placeholder="Your phone"
              />
          </div>

          <div class="form-group">
            <input
              formControlName="senha"
              type="password"
              class="form-control"
              placeholder="Password*"
               />
          </div>

          <div class="form-group">
            <input
              formControlName="senhaTwo"
              type="password"
              class="form-control mt-2"
              placeholder="Confirm your password*"
              />
          </div>

          <div class="mt-2"> 
                 
          <button class="btn btn-primary w-100 "  
                  [disabled]="!camps.valid">
                  Login
          </button>
        </div>
       </form>

        <div class="text-center mt-3">

          <a routerLink="/Login" class="text-primary">I already have an account</a>
          
        </div>
  </form>
  
</section>
