<nav class="navbar navbar-light bg-light"> 
  <div class="container-fluid">

    <a class="navbar-brand" href="#">

      <p class="align-text-top h3 text-primary">Hammer</p>

    </a>
  
    <form class="me-5">

      <button class="btn btn-outline-primary m-1" 
              type="button"
              (click)="forTable()">
              Table
      </button>

      <button class="btn btn-outline-primary "
              type="button"
              (click)="forForm()">
              Form
      </button>  

    </form>

    <form class="justify-content-end"> 

      <button class="btn btn-primary"
            type="submit"
            (click)="logout()">
            logout
      </button>

    </form>

  </div>
</nav>

